<div class="container-fluid">
  <h1>Editing Repo</h1>

  <%= render 'form', repo: @repo %>

  <%= link_to 'Show', @repo, class: "btn btn-light min-width-btn" %> |
  <%= link_to 'Back', repos_path, class: "btn btn-light min-width-btn" %>
</div>